/* Reset CSS - Start */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Helvetica, Arial, sans-serif;
}
/* Reset CSS - End */

/* Commod - Start*/
.background_h_f {
    background-color: #16E27C !important;
    /* background: url('/assets/img/background-form.png') top center / cover no-repeat; */
}
.text_white {
    color: #fff !important;
}
/* Commod - End*/

#main {
    display: grid;
    background: url('/assets/img/background.jpg') top center / cover no-repeat;
}
#header {
    height: 324px;
    width: 100%;
    display: flex;
}
#header .title_lottery{
    position: relative;
    height: 200px;
    width: 100%;
    margin-top: 26px;
    background: url('/assets/img/background_title.jpg') top center / cover no-repeat;
}
#header .title_lottery .title_text {
    text-align: center;
    line-height: 200px;
    font-size: 60px;
}
#header .title_lottery .link_page {
    position: absolute;
    left: 4px;
    bottom: 4px;
}
#header .header_nav{
    position: absolute;
    margin-top: 226px;
    height: 98px;
    width: 100%;
    justify-content: center;
    /* display: flex; */
}.nav_content{
    display: flex;
}
.nav_content ,
.nav_content .subnav {
    list-style-type: none;
}
.header_nav .nav_content > li{
    width: 20%;
}
.header_nav .nav_content {
    margin-left: 100px;
    margin-right: 100px;
}
.nav_content > li {
    display: inline-block;
}
.header_nav .nav_content li {
    position: relative;
}

.header_nav .nav_content > li > a{
    text-align: center;
    color: #fff;
}
.header_nav .nav_content li a{
    display:block;
    text-decoration: none;
    line-height: 98px;
    padding: 0 40px;
}
.header_nav .nav_content> li:hover >.subnav {
    display: block;
}
.header_nav .nav_content .subnav li:hover a,
.header_nav .nav_content > li:hover > a{
    background-color: #ccc;
}
.header_nav .nav_content .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.header_nav .nav_content .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#container {
    margin-bottom: 148px;
}
#container .container_nav{
    height: 68px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: inset;
    border-color: #16E27C;
    border-width: 0 0 1px 0;
}
.container_nav .nav_content li a{
    display:block;
    width: 100%;
    text-decoration: none;
    line-height: 68px;
    text-align: center;
    color: #16E27C;
}
.container_nav .nav_content li{
    width: 12.5%;
}
#container .content{
    /* min-height: 860px; */
    /* width: 100%; */
    margin: 32px 20px 40px 20px;
    /* border-style: inset;
    border-color: #16E27C;
    border-width: 0 0 1px 0; */
}
.content .search_lottery{
    width: 30%;
    float: right;
    margin-top: 20px;
    
}
.search_lottery .province {
    /* width: 364px; */
}
.search_lottery .province >a {
    display: block;
    color: #000;
    text-decoration: none;
}
.search_lottery .form_search {
    border-style: outset;
    padding: 12px;
    max-width: 300px;
    margin-bottom: 28px;
    background: url('/assets/img/background-form.png') top center / cover no-repeat;
}
.content .table-lottery{
    width: 70%;
    float: left;
    margin-bottom: 100px;
}
.select-sub{
    margin-top: 8px;
}
#container .cont_end{
    width: 100%;
    height: 60px;
}
.cont_end .item_cont_end{
    width: 50%;
    float: left;
    display: grid;
    justify-content: center;
    margin-top: 24px;
}
.cont_end .item_cont_end >a{
    text-decoration: none;
    color: #000;
}
.button_search{
    padding: 8px 32px;
    background-color: #16E27C;
    border: none;
    border-style: outset;
    font-weight: 700;
}
.button_search:hover {
    background-color: rgb(75, 242, 14);
}
.forms{
    padding: 4px;
    border: none;
    border-style: outset;
    background-color: #ccc;
}
#footer {
    height: 160px;
}
#footer .item_footer {
    width: 25%;
    float: left;
    display: grid;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 28px;
}
#footer .item_footer >a{
    text-decoration: none;
    color: #000;
}
  #preloader {
    display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #16E27C;
      -webkit-animation: spin 0.9s linear infinite;
      animation: spin 0.9s linear infinite;
  }
  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #f40819;
      -webkit-animation: spin 0.8s linear infinite;
      animation: spin 0.8s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #FF00FF;
      -webkit-animation: spin 0.7s linear infinite;
      animation: spin 0.7s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  .open{
    display: block !important;
  }

